.parent {
  padding: 10px;
  background-color:dodgerblue
}
.child {
  padding: 10px;
  background-color:yellow
}
.grand {
  padding: 10px;
  background-color:lightgreen
}
.grand-func {
  padding: 10px;
  background-color:lightpink
}
